* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0px auto;
}

nav {
    background: teal;
}

.menu {
    list-style: none;
    display: flex;
}

.menu > li {
    width: 20%;
    text-align: center;
    position: relative;
}

.menu li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.menu li a:hover {
    background: lightblue;
}

.submenu {
    background: teal;
    list-style: none;
    display: none;
    position: absolute;
}

.menu li:hover .submenu {
    display: block;
    width: 100%;
}

main {
    padding: 20px 0;
}

.parent {
    display: flex;
}

section {
    width: 70%;
    padding: 20px 0;
}

aside {
    width: 30%;
    padding: 20px 0;
}

figure {
    color: white;
    padding: 20px 0;
}

img {
    width: 40%;
}

footer {
    background: black;
    padding: 20px 0;
    color: white;
}

@media (max-width: 768px) {
    .parent {
        flex-direction: column;
    }

    

    section, aside {
        width: 100%;
        padding: 0px 20px;
    }

    aside {
        background: lightcoral;
    }
}

@media (max-width: 480px) {
    aside {
        background: lightgreen;
    }

    .menu {
        display: none;
    }

    .mobile-menu {
        display: block;
        padding: 20px;
        color: white;
    }
}