* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.countainer {
    width: 1000px;
    margin: 0px auto;
}

.parent {
    background: gray;
    padding: 15px;
    margin: 30px 0;
    height: 300px;
    display: flex;
   /*  flex-direction: column; /* - меняет дефолтную ось х на y */
   flex-direction: row;
   justify-content: space-between; /* - выравнивание по ГЛАВНОЙ оси */
   align-items: stretch;
   flex-wrap: wrap; /* - перенос */

}

.child {
    background: lightblue;
    padding: 10px;
    margin: 10px;
    width: 30%;
}

.child-one {
    background: blue;
    order: 1; /* - приоритетность */
}

.child-last {
    background: red;
    order: -1;
}