:root a:hover {
    color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-image: url(../img/footer-bg.png);
    min-height: 880px;
    margin-bottom: 125px;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation li {
    list-style-type: none;
    margin: 45px 40px 260px 40px;
}

.navigation li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.world_with_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.world_with_us p {
    margin-bottom: 35px;
}

.world_with_us h1 {
    margin-bottom: 80px;
    font-weight: 800;
    font-size: 48px;
}

.button {
    background: #27AE60;
    border-radius: 30px;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
}

.section_1 {
    text-align: center;
}

.section_1 h2 {
    margin-bottom: 30px;
    font-size: 36px;
}

.section_1 p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 90px;
    color: rgba(0, 0, 0, 0.5);
}

.services {
    display: flex;
    justify-content: space-between;
}

.services:first-child .visa {
    margin-left: 0px;
}

.services .visa:nth-child(3) {
    margin-right: 0px;
} 

.visa {
    display: flex;
    justify-content: center;
    margin: 0 40px;
}

.visa p {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 70px;
    width: 250px;
}

.visa h3 {
    margin: 20px 0 20px 0px;
}

.visa img {
    height: max-content;
    margin-right: 20px;
}


.service_button {
    text-align: center;
    margin-bottom: 125px;
}

.section_3 {    
    background: #F6F8F6;
    min-height: 630px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper img {
    margin-top: 100px;
}

.blog_info {
    margin-top: 167px;
    text-align: end;
    width: 80%;
}

.blog_info h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.blog_info p {
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.blog_info a {
    color: #00B25C;
}

.info_container {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.info_name {
    display: flex;
    justify-content: center;
    width: 100%;
}

.info_name h3 {
    margin: 70px 20px 20px 20px;
    width: 25%;
    font-size: 18px;
    white-space: nowrap;
}

.info_name:first-child h3 {
    margin-left: 0px;
}

.info_name h3:last-child {
    margin-right: 0px;
}

.info {
    width: 25%;
}

.info ul li {
    list-style-type: none;
    line-height: 2.5;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.info ul li img {
    margin-right: 10px;
}

.info_container .info:not(:first-child) ul li::before {
    content: ">";
    margin-right: 5px;
    padding-left: 16px;
}

.info ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

footer p {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    margin-bottom: 50px;
}