body {
    padding: 1rem;
    background-color: rgba(160, 218, 213, 0.383);
}

.island {
    border-radius: 0.5rem;    
    background-color: #fff;
}

.island__item {
    padding: 1rem;
}

.island__item + .island__item {
    border-top: 1px solid rgb(231, 231, 231);
}

.island + .island {
    margin-top: 1rem;
}