/* .list li:first-child {
color: red;
}

.list li:last-child {
    color: blue;
}

.list li:nth-child(1) {
    color: aqua;
}

.list li:nth-child(odd) {
    color: blueviolet;
}
.list li:nth-child(even) {
    color: #eee;
} */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1::after {
    content: "***"; /* писать обязательно! даже при пустом контенте*/
}

h1::before {
    content: "***";
}